<div class="bg-white p-8 rounded-lg shadow-md">
  <h1 class="text-3xl font-bold text-gray-900 mb-6">Manage Orders</h1>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white">
      <thead class="bg-gray-100">
        <tr>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Order ID</th>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Date</th>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Customer</th>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Total</th>
          <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Status</th>
        </tr>
      </thead>
      <tbody>
        @for (order of sortedOrders(); track order.id) {
          <tr class="border-b">
            <td class="py-3 px-4">{{ order.id }}</td>
            <td class="py-3 px-4">{{ order.date | date:'short' }}</td>
            <td class="py-3 px-4">{{ order.guestDetails?.name || order.userId }}</td>
            <td class="py-3 px-4">{{ order.total | currency }}</td>
            <td class="py-3 px-4">
              <select [value]="order.status" (change)="updateStatus(order.id, $event)" class="w-full rounded-md border-gray-300 shadow-sm focus:border-orange-500 focus:ring-orange-500 sm:text-sm bg-white" [class]="getStatusClass(order.status)">
                  @for(status of orderStatuses; track status) {
                    <option [value]="status">{{status}}</option>
                  }
              </select>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>